{% extends "webif/base.html" %}

{% block content %}
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/webif">Makerhafen</a></li>
            <li class="breadcrumb-item"><a href="/webif/invoice/list">Rechnungen</a></li>
        </ol>
    </nav>
    <!-- /Breadcrumb -->
    <br>
    <div class="row">
        <div class="col-md-8"><h4>Rechnungen</h4></div>
        <div class="col-md-4" style="text-align:right"><a type="button" class="btn btn-success" href="/webif/invoice/list_createable">Neuen Rechnung erstellen stellen</a></div>
    </div>

    <br>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Benutzer</th>
                        <th scope="col">Firma</th>
                        <th scope="col">Email</th>
                        <th scope="col">Guthaben (Euro)</th>
                        <th scope="col">Auf Rechnung</th>
                        <th scope="col">Jemand anderes zahlt</th>
                        <th scope="col">Bild</th>
                    </tr>
                </thead>
                <tbody>
                    {% for invoice in invoices %}
                    <tr>
                        <td>
                            <a href="/webif/user/show/{{ invoice.user.profile.id }}">{{ invoice.user.company_name }} {{ invoice.user.first_name }}, {{ invoice.user.last_name }}
                            </a>
                        </td>
                        <td>{{ invoice.company_name }}</td>
                        <td>{{ invoice.user.email }}</td>
                        <td {% if profile.prepaid_deposit < 0 %}style="color:red"{% endif %}>{{ profile.prepaid_deposit }}</td>
                        <td>{{ invoice.allow_invoice }}</td>
                        <td>{{ invoice.paying_user }}</td>
                        <td>
                            {% if profile.profile_picture %}<img style="width:50px" src = "{{ profile.profile_picture.url }}"/>{% endif %}
                        </td>
                        <td>
                            <a type="button" class="btn btn-success" href="/webif/invoice/show/{{ invoice.id }}">Anzeigen</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}