{% extends "webif/base.html" %}

{% block content %}
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/webif">Makerhafen</a></li>
            <li class="breadcrumb-item"><a href="/webif/invoice/list">Rechnungen</a></li>
        </ol>
    </nav>
    <!-- /Breadcrumb -->
    <br>
    <div class="row">
        <div class="col-md-8"><h4>Rechnungen</h4></div>
        <div class="col-md-4" style="text-align:right"><a type="button" class="btn btn-success" href="/webif/invoice/list_createable">Neuen Rechnung erstellen stellen</a></div>
    </div>

    <br>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Benutzer</th>
                        <th scope="col">Betrag Brutto</th>
                        <th scope="col">Mwst.</th>
                        <th scope="col">Total</th>
                        <th scope="col">Kommerziel</th>
                        <th scope="col">Art</th>
                        <th scope="col">Aktion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for invoice in invoices %}
                    <tr>
                        <td>
                            <a href="/webif/user/show/{{ invoice.user.profile.id }}">{{ invoice.user.company_name }} {{ invoice.user.first_name }}, {{ invoice.user.last_name }}
                            </a>
                        </td>
                        <td>{{ invoice.value }}</td>
                        <td>{{ invoice.taxes }}</td>
                        <td>{{ invoice.total }}</td>
                        <td>{{ invoice.include_tax }}</td>
                        <td>{{ invoice.type }}</td>
                        <td>
                            <a type="button" class="btn btn-success" href="/webif/invoice/show/{{ invoice.id }}">Anzeigen</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}