{% extends "webif/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="main-breadcrumb hidden-print">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/webif">Makerhafen</a></li>
            <li class="breadcrumb-item"><a href="/webif/invoice/list">Rechnungen</a></li>
            <li class="breadcrumb-item"><a href="/webif/user/show/{{invoice.user.profile.id}}"> {{invoice.user.profile}}</a></li>
            <li class="breadcrumb-item"><a href="/webif/invoice/show/{{invoice.id}}">Anzeigen</a></li>
        </ol>
    </nav>
    <!-- /Breadcrumb -->

    <style>
        .invoice-box {
            max-width: 800px;
            margin: auto;
            padding: 30px;
            #border: 1px solid #eee;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
            font-size: 16px;
            line-height: 24px;
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            color: #555;
        }

        .invoice-box table {
            width: 100%;
            line-height: inherit;
            text-align: left;
        }

        .invoice-box table td {
            padding: 5px;
            vertical-align: top;
        }

        .invoice-box table tr td:nth-child(2) {
            text-align: right;
        }

        .invoice-box table tr.top table td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.top table td.title {
            font-size: 45px;
            line-height: 45px;
            color: #333;
        }

        .invoice-box table tr.information table td {
            padding-bottom: 40px;
        }

        .invoice-box table tr.heading td {
            background: #eee;
            border-bottom: 1px solid #ddd;
            font-weight: bold;
        }

        .invoice-box table tr.details td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.item td {
            border-bottom: 1px solid #eee;
        }

        .invoice-box table tr.item.last td {
            border-bottom: none;
        }

        .invoice-box table tr.total td:nth-child(2) {
            border-top: 2px solid #eee;
            font-weight: bold;
        }

        @media only screen and (max-width: 600px) {
            .invoice-box table tr.top table td {
                width: 100%;
                display: block;
                text-align: center;
            }

            .invoice-box table tr.information table td {
                width: 100%;
                display: block;
                text-align: center;
            }
        }

        /** RTL **/
        .invoice-box.rtl {
            direction: rtl;
            font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        }

        .invoice-box.rtl table {
            text-align: right;
        }

        .invoice-box.rtl table tr td:nth-child(2) {
            text-align: left;
        }

        @media screen {
            div.footer {
                display: none;
            }
        }
        @media print {
            html, body {
                width: 210mm;
                height: 297mm;
            }
            .column {
                page-break-inside: avoid;
            }
            p {
                page-break-inside: avoid;
            }
            div.footer {
                position: fixed;
                bottom: 0;
            }
        }
    </style>
    <br>

    {% if last_error != None %}
        <div class="row">
        <div class="col-md-12 ">
            <b>Fehler:</b><br>
        </div>
    </div>
    {% endif %}

    <div class="footer" style="text-align:center;width:100%;color:red;border-top:1px solid gray;">
        <div style="width:23%;float:left">
            Makerhafen gGmbH <br>
            Stahltwiete 21   <br>
            22761 Hamburg
        </div>
        <div style="width:23%;float:left">
            +49 40 53050911         <br>
            office@makerhafen.de    <br>
            https://makerhafen.de
        </div>
        <div style="width:30%;float:left">
            BIC:   DEUTDEDBHAM  <br>
            IBAN:  DE06200700240914441100   <br>
            UstID: DE337879639 <br>
            SteuerNr: 17/451/10661
        </div>
        <div style="width:23%;float:left" >
            Sitz: Hamburg       <br>
            Gf: Susanne Theelen <br>
            Amtsgericht Hamburg <br>
            HRB 164690
        </div>
    </div>

    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title" style="width:60%">
                                <img src="https://raw.githubusercontent.com/makerhafen/Logos/master/makerhafen%20logo%201100x1100.png" style="width: 20%; max-width: 20%" />
                                <b>Makerhafen</b>
                            </td>
                            <td>
                                {% if invoice.type == "invoice" %}Rechnung{% else %}Zahlungsbeleg{% endif %} #: 123<br />
                                Erstellt: {{ invoice.created |date:'d.m.Y' }}<br />
                                {% if invoice.type == "invoice" %}
                                    Fällig: {{ invoice.due |date:'d.m.Y' }}
                                {% else %}
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>

                            <td>
                                Makerhafen gemeinnützige GmbH<br />
                                Stahltwiete 21<br />
                                22761 Hamburg<br />
                                office@makerhafen.de<br />
                            </td>
                            <td>
                                {% if invoice.user.profile.company_name %}
                                    {{ invoice.user.profile.company_name}} <br />
                                {% endif %}
                                {% if invoice.user.profile.company_name %}
                                    {{ invoice.user.profile.street}}, {{invoice.user.profile.plz}} {{invoice.user.city}}<br /> <br />
                                {% endif %}
                                {{ invoice.user.first_name}}, {{invoice.user.last_name}}<br />
                                {{ invoice.user.email}}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="heading">
                <td>Position</td>
                <td>Kosten</td>
            </tr>

            {% for invoice_item in invoice_items %}
            <tr class="item">
                <td>
                    {% if invoice_item.price_per_hour%}
                        {{ invoice_item.machinesession.machine.name  }}
                        {% if invoice_item.machinesession.user != invoice_item.user %}
                            ; {{invoice_item.machinesession.user.first_name}} {{invoice_item.machinesession.user.last_name}}
                        {% endif %}
                        ; {{invoice_item.created|date:'d.m.Y H:i'}}
                    {% elif invoice_item.creator %}
                        Verbrauchsmaterial
                        {% if invoice_item.machinesession  %}
                            an {{invoice_item.machinesession.machine.name }}
                        {% endif %}
                        {% if invoice_item.creator != invoice_item.user %}
                            ; {{invoice_item.creator.first_name}} {{invoice_item.creator.last_name}}
                        {% endif %}
                        ; {{invoice_item.created|date:'d.m.Y H:i'}}
                    {% elif invoice_item.type %}
                        {% if invoice_item.type == "monthly" %}
                            Werkstattnutzung {{invoice_item.start|date:'d.m.Y'}} - {{invoice_item.end|date:'d.m.Y'}}
                        {% else %}
                            Werkstattnutzung {{invoice_item.start|date:'d.m.Y'}}
                        {% endif %}
                    {% else %}
                        Guthaben aufgeladen
                    {% endif %}

                </td>
                <td>€{{ invoice_item.price | floatformat:2 }}</td>
            </tr>
            {% endfor %}


            {% if invoice.include_tax %}
                <tr>
                    <td></td>
                    <td style="border-top: 2px solid lightgray">Brutto:&nbsp&nbsp&nbsp€{{invoice.value | floatformat:2 }}</td>
                </tr>
                    <tr class="">
                    <td></td>
                    <td>Mwst.&nbsp19%:&nbsp&nbsp&nbsp€{{invoice.taxes | floatformat:2 }}</td>
                </tr>
            {% endif %}
            <tr class="total">
                <td></td>
                <td style="border-top: 2px solid gray">Summe:&nbsp&nbsp&nbsp€{{invoice.total | floatformat:2 }}</td>
            </tr>
        </table>
    </div>


{% endblock %}