{% extends "webif/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/webif">Makerhafen</a></li>
            <li class="breadcrumb-item"><a href="/webif/user/list">Benutzer</a></li>
            <li class="breadcrumb-item"><a href="/webif/user/create">Erstellen</a></li>
        </ol>
    </nav>
    <!-- /Breadcrumb -->
    {% if last_error != None %}
        <div class="row">
            <div class="col-md-12 ">
                <b>Fehler:</b><br>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h5>Neuen Benutzer anlegen</h5>
            <form method="post">
                {% csrf_token %}
                {{form|crispy}}
                <h4>Maschinen Zugriff</h4>
                {% for machine in machines %}
                    <input type="checkbox" name="allowed_machines" value="{{ machine.id }}"  {% if profile.user in machine.allowed_users.all %}checked{% endif %}> {{ machine }}<br>
                {% endfor %}
                {% include "webif/user/get_picture.html" %}
                <br>
                <br>
                <a type="button" class="btn btn-danger" href="{%url 'webif__user__list' %}">Abbrechen</a>
                <button type="submit" class="btn btn-success">Erstellen</button>
            </form>
        </div>
    </div>

{% endblock %}
