{% extends "webif/base.html" %}

{% block content %}
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/webif">Makerhafen</a></li>
            <li class="breadcrumb-item"><a href="/webif/user/list">Benutzer</a></li>
        </ol>
    </nav>
    <!-- /Breadcrumb -->
    <br>
    <div class="row">
        <div class="col-md-8"><h4>Profile List</h4></div>
        <div class="col-md-4" style="text-align:right"><a type="button" class="btn btn-success" href="{%url 'webif__user__create' %}">Neuen Nutzer stellen</a></div>
    </div>

    <br>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Vorname</th>
                    <th scope="col">Nachname</th>
                    <th scope="col">Firma</th>
                    <th scope="col">Email</th>
                    <th scope="col">Guthaben (Euro)</th>
                    <th scope="col">Auf Rechnung</th>
                    <th scope="col">Kommerziell</th>
                    <th scope="col">Ermäßigt</th>
                    <th scope="col">Jemand anderes zahlt</th>
                    <th scope="col">Tages/Monats Benutzer</th>
                    <th scope="col">Bild</th>
                </tr>
                </thead>
                <tbody>
                {% for profile in profiles %}
                    <tr>
                        <td>{{ profile.user.first_name }}</td>
                        <td>{{ profile.user.last_name }}</td>
                        <td>{{ profile.company_name }}</td>
                        <td>{{ profile.user.email }}</td>
                        {% if profile.paying_user %}
                            <td {% if profile.paying_user.prepaid_deposit < 0 %}style="color:red"{% endif %}>{{ profile.paying_user.prepaid_deposit }}</td>
                        {% else %}
                            <td {% if profile.prepaid_deposit < 0 %}style="color:red"{% endif %}>{{ profile.prepaid_deposit }}</td>
                        {% endif %}
                        <td>
                            {% if profile.paying_user %}

                                {% if profile.paying_user.allow_postpaid %}{{ profile.paying_user }}, Ja{% else %}{% endif %}
                            {% else %}
                                {% if profile.allow_postpaid %}Ja{% else %}{% endif %}
                            {% endif %}
                        </td>
                        <td>
                            {% if profile.paying_user %}
                                {% if profile.commercial_account %}{{ profile.paying_user }}, Ja{% else %}{% endif %}
                            {% else %}
                                {% if profile.commercial_account %}Ja{% else %}{% endif %}
                            {% endif %}
                        </td>
                        <td>
                            {% if profile.paying_user %}
                                {% if profile.discount_account %}{{ profile.discount_account }}, Ja{% else %}{% endif %}
                            {% else %}
                                {% if profile.discount_account %}Ja{% else %}{% endif %}
                            {% endif %}
                        </td>
                        <td>{% if profile.paying_user %}{{profile.paying_user }}{% else %}{% endif %}</td>
                        <td>
                            {% if profile.paying_user %}
                                {{ profile.paying_user }},
                                {% if profile.paying_user.monthly_payment %}Monatlich{% else %}Tagesbenutzer{% endif %}
                            {% else %}
                                {% if profile.monthly_payment %}Monatlich{% else %}Tagesbenutzer{% endif %}
                            {% endif %}

                        </td>
                        <td>
                            {% if profile.profile_picture %}<img style="width:50px" src = "{{ profile.profile_picture.url }}"/>{% endif %}
                        </td>
                        <td>
                            <a type="button" class="btn btn-success" href="/webif/user/show/{{ profile.id }}">Anzeigen</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}