{% extends "webif/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<nav aria-label="breadcrumb" class="main-breadcrumb">
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/webif">Makerhafen</a></li>
  <li class="breadcrumb-item"><a href="/webif/user/list">Benutzer</a></li>
  <li class="breadcrumb-item active" aria-current="page">Anzeigen</li>
</ol>
</nav>
<br>
<br>
<div class="row">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    {% if profile.profile_picture %}
                        <img alt="Admin" class="rounded-circle" width="150" src = "{{ profile.profile_picture.url }}"/>
                    {% endif %}
                    <div class="mt-3">
                      <h4>{{profile.user.first_name}} {{profile.user.last_name}}</h4>
                      <p class="text-secondary mb-1">{{profile.company_name}}</p>
                        <a type="button" class="btn btn-primary" href="/webif/user/update/{{ profile.id }}">Bearbeiten</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">Haftungsaufschluss</h6>
                    <div class="text-secondary">
                        <a type="button" class="btn btn-primary" href="/webif/user/haft/{{ profile.id }}">Ausdrucken</a>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">
                        RFID Karte
                    </h6>
                    <div class="text-secondary">
                        {% if profile.get_current_token.can_write == True %}
                            <h4 style="color:green"> Neue Karte bereit zum schreiben</h4>
                        {% else %}
                            <a type="button" class="btn btn-primary" href="/webif/user/create_new_card/{{ profile.id }}">Neue RFID Karte erstellen</a>
                        {% endif %}
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">
                        Zahlungsart
                    </h6>
                    <span class="text-secondary" style="text-align:center">
                        {% if profile.paying_user %}
                              <h6 class="mb-0"><i>{{profile.paying_user}}</i> zahlt</h6>
                          <hr>
                        {% else %}
                            <h5>
                                <b style="color:{% if profile.commercial_account %}green{% else %}lightgray{% endif %}">Kommerziell</b> /
                                <b style="color:{% if profile.commercial_account %}lightgray{% else %}green{% endif %}">Privat</b>
                            </h5>
                            <h5>
                                <b style="color:{% if profile.allow_invoice %}green{% else %}lightgray{% endif %}">Rechnung</b> /
                                <b style="color:{% if profile.allow_invoice %}lightgray{% else %}green{% endif %}">Prepaid</b>
                            </h5>
                            <h5>
                                <b style="color:{% if profile.monthly_payment %}green{% else %}lightgray{% endif %}">Monatlich</b> /
                                <b style="color:{% if profile.monthly_payment %}lightgray{% else %}green{% endif %}">Tagesuser</b>
                            </h5>
                            <h5><a type="button" class="btn btn-primary" href="/webif/user/deposit/{{ profile.id }}">Einzahlung verbuchen</a></h5>
                        {% endif %}
                    </span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Email</h6></div>
                    <div class="col-sm-9 text-secondary">{{profile.user.email}}</div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Address</h6></div>
                    <div class="col-sm-9 text-secondary">{{profile.street}}, {{profile.postalcode}}, {{profile.city}}</div>
                  </div>
                    <hr>
                  <div class="row">
                    <div class="col-sm-3"><h6 class="mb-0">Geburtsdatum</h6></div>
                    <div class="col-sm-9 text-secondary">{{profile.birthdate}}</div>
                  </div>
                </div>
              </div>
              <div class="row gutters-sm">
                  <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                        <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Zahlungsinformationen</i></h6>
                        {% if profile.paying_user %}
                          <div class="row" style="text-align:center">
                              <div class="col-sm-12"><h6 class="mb-0"><i>{{profile.paying_user}}</i> zahlt</h6></div>
                          </div>
                          <hr>
                        {% else %}

                            <div class="row" style="text-align:center">
                              <div class="col-sm-3"><h6 class="mb-0">Guthaben</h6></div>
                              <div class="col-sm-9 text-secondary">{{profile.prepaid_deposit}} Euro</div>
                            </div>
                            <hr>
                        {% endif %}
                    </div>
                  </div>
                </div>
                  <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                        <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Maschinen Zugriff</i></h6>
                        {% for allowed_machine in profile.user.allowed_machines.all %}
                              <div class="row" style="text-align:center">
                                  <div class="col-sm-12"><h6 class="mb-0"><i>{{ allowed_machine }}</i></h6></div>
                              </div>
                              <hr>
                        {% endfor %}

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

              <div class="row gutters-sm">
                  <div class="col-sm-6 mb-3">
                    <div class="card h-100">
                    <div class="card-body">
                        <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Anwesenheit</i>
                            <a href=/foo/" style="text-align:right;float:right;">alle anzeigen</a></h6>
                        {% for spacerent_payment in profile.user.spacerent_payments.all %}
                              <div class="row" style="text-align:center">
                                  <div class="col-sm-12"><h6 class="mb-0"><i>{{ spacerent_payment }}</i></h6></div>
                              </div>
                              <hr>
                        {% endfor %}
                    </div>
                  </div>
                  </div>
                  <div class="col-sm-6 mb-3">
                      <div class="card h-100">
                        <div class="card-body">
                            <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Maschinen Sitzungen</i>
                            <a href=/foo/" style="text-align:right;float:right;">alle anzeigen</a></h6></h6>
                            {% for machine_session in latest_sessions %}
                                  <div class="row" style="text-align:center">
                                      <div class="col-sm-12"><h6 class="mb-0"><i>{{ machine_session }}</i></h6></div>
                                  </div>
                                  <hr>
                            {% endfor %}
                        </div>
                      </div>
                  </div>
                  <div class="col-sm-6 mb-3">
                      <div class="card h-100">
                        <div class="card-body">
                            <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Material Zahlungen</i>
                            <a href=/foo/" style="text-align:right;float:right;">alle anzeigen</a></h6></h6>
                            {% for material_payment in latest_material_payments %}
                                  <div class="row" style="text-align:center">
                                      <daiv class="col-sm-12"><h6 class="mb-0"><i>{{ material_payment }}</i></h6></daiv>
                                  </div>
                                  <hr>
                            {% endfor %}
                        </div>
                      </div>
                  </div>
                  <div class="col-sm-6 mb-3">
                      <div class="card h-100">
                        <div class="card-body">
                            <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Rechnungen</i>
                            <a href=/foo/" style="text-align:right;float:right;">alle anzeigen</a></h6></h6>
                            {% for latest_invoice in latest_invoices %}
                                  <div class="row" style="text-align:center">
                                      <div class="col-sm-12"><h6 class="mb-0"><i>{{ latest_invoice }}</i></h6></div>
                                  </div>
                                  <hr>
                            {% endfor %}

                        </div>
                      </div>
                  </div>
              </div>



</div>







<br>
<br>


    {% if last_error != None %}
        <div class="row">
            <div class="col-md-12 ">
                <b>Fehler:</b><br>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <h3>Maschinen Sitzungen</h3>
        </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Maschine</th>
                        <th scope="col">Startzeit</th>
                        <th scope="col">Benutzer</th>
                        <th scope="col">Tutor</th>
                        <th scope="col">Jemand anderes zahlt</th>
                        <th scope="col">Sauerkeit</th>
                        <th scope="col">Automatisch abmelden</th>
                        <th scope="col">Kosten</th>
                        <th scope="col">Bezahlt?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for machineSession in profile.user.machine_user_sessions.all %}
                    <tr>
                        <td>{{ machineSession.machine }}</td>
                        <td>{{ machineSession.start }}</td>
                        <td>
                            {{ machineSession.user.profile }}
                            {% if machineSession.user.profile.profile_picture %}<img style="width:50px" src = "{{ machineSession.user.profile.profile_picture.url }}"/>{% endif %}
                        </td>
                        <td>
                            {{ machineSession.tutor }}
                            {% if machineSession.tutor.profile.profile_picture %}<img style="width:50px" src = "{{ machineSession.tutor.profile.profile_picture.url }}"/>{% endif %}
                        </td>
                        <td>
                            {% if machineSession.paymentsession.user != machineSession.user %}
                                {{ machineSession.paymentsession.user.profile }}
                                {% if machineSession.paymentsession.user.profile.profile_picture %}<img style="width:50px" src = "{{ machineSession.paymentsession.user.profile.profile_picture.url }}"/>{% endif %}
                            {% endif %}
                        </td>
                        <td>{{ machineSession.rating_clean }}</td>
                        <td>{{ machineSession.autologout_at }}</td>
                        <td>{{ machineSession.paymentsession.value }} Euro</td>
                        <td>
                            {% if machineSession.paymentsession.value > 0 %}
                                {% if machineSession.paymentsession.invoice or machineSession.paymentsession.transaction %}
                                    ja
                                {% else %}
                                    <p style="color:red">nein</p>
                                {% endif %}
                            {% endif %}

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>


{% endblock %}