{% extends "webif/base.html" %}

{% block content %}

  <nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/webif">Makerhafen</a></li>
      <li class="breadcrumb-item"><a href="/webif/user/list">Benutzer</a></li>
      <li class="breadcrumb-item"><a href="/webif/user/show/{{profile.id}}">{{profile}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Haftungsausschluss</li>
    </ol>
  </nav>
  <br>
  <br>

{% endblock %}