<script>
    function rfid_read(success_callback, error_callback, error_cnt = 0){
        document.getElementById( "read_token_button" ).classList.add("working");
        var request = new XMLHttpRequest();
        request.open("GET","http://127.0.0.1:8080/rfid/read/");
        request.addEventListener('load', function(event) {
            document.getElementById( "read_token_button" ).classList.remove("working");
            if (request.status >= 200 && request.status < 300) {
                token = request.responseText.trim();
                if(token != ""){
                    success_callback(token);
                }else{
                    if(error_cnt < 4){
                        error_callback("no_token_read");
                    }else{
                        rfid_read(success_callback, error_callback, error_cnt = error_cnt + 1);
                    }
                }
           } else {
                error_callback("hardware_response_unknown")
           }
        });
        request.addEventListener('error', function(event) {
            document.getElementById( "read_token_button" ).classList.remove("working");
            error_callback("hardware_response_failed")
        });
        request.send();
    }

    function rfid_read_and_post_form(){
        document.getElementById("last_error").style.display = "none";
        document.getElementById("last_error").innerHTML = "";
        rfid_read(
            function(token) {
                document.getElementById( "rfid_token" ).value = token;
                document.getElementById( "form" ).submit();
            },
            function(error_msg) {
                error_txt = error_msg;
                if(error_msg == "no_token_read"){
                    //error_txt = "No rfid token read";
                }else{
                    if(error_msg == "hardware_response_unknown"){ error_txt = "Unknown hardware response";}
                    if(error_msg == "hardware_response_failed") { error_txt = "Failed to reach hardware";}
                    document.getElementById("last_error").innerHTML = error_txt;
                    document.getElementById("last_error").style.display = "block";
                }
            }
        );
    }

    let auto_read_cnt = 0;

    function auto_read_and_post(){
        auto_read_cnt += 1;
        if(auto_read_cnt < 60){
            rfid_read_and_post_form();
        }
        setTimeout(function(){
            auto_read_and_post();
        }, 2000);
    }

    function start_auto_read_and_post(){
        auto_read_cnt = 0;
        setTimeout(function(){
            auto_read_and_post();
        }, 2000);
    }

    function reset_autoread_cnt(){
        auto_read_cnt = 0;
    }


</script>
