<script>
    function rfid_read(success_callback, error_callback){
        document.getElementById( "read_token_button" ).classList.add("working");
        var request = new XMLHttpRequest();
        request.open("GET","http://127.0.0.1:8080/rfid/read/");
        request.addEventListener('load', function(event) {
            document.getElementById( "read_token_button" ).classList.remove("working");
            if (request.status >= 200 && request.status < 300) {
                token = request.responseText.trim()
                if(token != ""){
                    success_callback(token)
                }else{
                     error_callback("no_token_read")
                }
           } else {
                error_callback("hardware_response_unknown")
           }
        });
        request.addEventListener('error', function(event) {
            alert("error");
            document.getElementById( "read_token_button" ).classList.remove("working");
            error_callback("hardware_response_failed")
        });
        request.send();
    }

    function rfid_read_and_post_form(){
        document.getElementById("last_error").style.display = "none";
        document.getElementById("last_error").innerHTML = "";
        rfid_read(
            function(token) {
                document.getElementById( "rfid_token" ).value = token;
                document.getElementById( "form" ).submit();
            },
            function(error_msg) {
                error_txt = error_msg;
                if(error_msg == "no_token_read")            { error_txt = "No rfid token read";}
                if(error_msg == "hardware_response_unknown"){ error_txt = "Unknown hardware response";}
                if(error_msg == "hardware_response_failed") { error_txt = "Failed to reach hardware";}
                document.getElementById("last_error").innerHTML = error_txt;
                document.getElementById("last_error").style.display = "block";
            }
        );
    }

</script>
