{% extends "base_raspi.html" %}

{% block content %}
    <div class="row" id="header" style="background-color:lightgray;">
            {% if admin_profile == None %}
                <div class="col-xs-9">
                    <b style="font-size:2em">Kasse</b>
                </div>
            {% else %}
                <div class="col-xs-9">
                    <b style="font-size:2em; color:red;">Mitarbeiter Funktionen</b>
                </div>
                <a href="{% url 'pos__logout' %}">
                    <div class="col-xs-3 header_link">
                        Abmelden
                    </div>
                </a>
            {% endif %}
    </div>

    {% if admin_profile == None %}
        <br>
        <div class="row" style="text-align:center">
            <div class="col-xs-12">
                <a href="{% url 'pos__login_user' %}">
                    <button class="btn btn-lg btn-success" style="width:100%">Benutzer anmelden</button>
                </a>
            </div>
        </div>
        <br>
        <div class="row" style="text-align:center">
            <div class="col-xs-12">
                <a href="{% url 'pos__payment' %}">
                    <button class="btn btn-lg btn-success" style="width:100%">Artikel Zahlen</button>
                </a>
            </div>
        </div>
        <br>
        <div class="row" style="text-align:center">
            <div class="col-xs-12">
                <a href="{% url 'pos__info' %}">
                    <button class="btn btn-lg btn-success" style="width:100%">Karteninfo anzeigen</button>
                </a>
            </div>
        </div>
        <br>
        <div class="row" style="text-align:center">
            <div class="col-xs-12">
                <a href="{% url 'pos__login_staff' %}">
                    <button class="btn btn-lg btn-success" style="width:100%">Mitarbeiter login</button>
                </a>
            </div>
        </div>
    {% else %}
        <div class="row" style="text-align:center">
            <div class="col-xs-12">
                <a href="{% url 'pos__write_card' %}">
                    <button class="btn btn-lg btn-success" style="width:100%">Karte erstellen</button>
                </a>
            </div>
        </div>
    {% endif %}


{% endblock %}
