{% extends "webif/base.html" %}

{% block content %}

    <style>
        @media screen {
            div.footer {
                display: none;
            }
        }
        @media print {
            html, body {
                width: 210mm;
                height: 297mm;
            }
            .column {
                page-break-inside: avoid;
            }
            p {
                page-break-inside: avoid;
            }
            div.footer {
                position: fixed;
                bottom: 0;
            }
        }
    </style>

<div class="footer" style="text-align:center;width:100%;color:red;border-top:1px solid gray;">
    <div style="width:23%;float:left">
        Makerhafen gGmbH <br>
        Stahltwiete 21   <br>
        22761 Hamburg
    </div>
    <div style="width:23%;float:left">
        +49 40 53050911         <br>
        office@makerhafen.de    <br>
        https://makerhafen.de
    </div>
    <div style="width:30%;float:left">
        BIC:   DEUTDEDBHAM  <br>
        IBAN:  DE06200700240914441100   <br>
        UstID: DE337879639 <br>
        SteuerNr: 17/451/10661
    </div>
    <div style="width:23%;float:left" >
        Sitz: Hamburg       <br>
        Gf: Susanne Theelen <br>
        Amtsgericht Hamburg <br>
        HRB 164690
    </div>
</div>


    <nav aria-label="breadcrumb" class="main-breadcrumb hidden-print">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/webif">Makerhafen</a></li>
            <li class="breadcrumb-item active" aria-current="page">AGB</li>
        </ol>
    </nav>

    <div class="row ">
        <div class="col-xs-8">
            <div class="row ">
                <div class="col-xs-3">
                    <img src="https://raw.githubusercontent.com/makerhafen/Logos/master/makerhafen%20logo%201100x1100.png" style="width: 100%; max-width: 100%" />
                </div>
                <div class="col-xs-8">
                    <h1 style="font-size: 4em;font-weight: bold;"> Makerhafen  </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-4" style="padding-top: 1em">
            Makerhafen gGmbH<br>
            Stahltwiete 21<br>
            22761 Hamburg<br>
            office@makerhafen.de
        </div>
    </div>
    <div class="wpb_wrapper">
        <div class="page" title="Page 1">
            <div class="layoutArea">
                <div class="column">
                    <p><br>    <h1><strong>Allgemeine Geschäftsbedingungen</strong></h1><br></p>
                    <h2>1 Vertragsgegenstand</h2>
                    <p>1.1 Die Makerhafen gemeinnützige GmbH, (kurz MAKERHAFEN), Stahltwiete 21, 22761 Hamburg, im Folgenden kurz “Vermieter” genannt,
                       stellt dem Nutzer* Räumlichkeiten, Werkzeug und Maschinen zur entgeltlichen Nutzung zur Verfügung. Mit Unterschrift des Haftungsausschlusses bzw.
                       bereits mit Betreten der Werkstatt erkennt der Mieter im Folgenden kurz “Nutzer” genannt, die Geltung dieser AGB an.</p>
                    <p>1.2 Der Nutzer ist innerhalb der Vertragsdauer berechtigt, während der Öffnungszeiten und entsprechend der allgemeinen Nutzungsbedingungen sowie der
                       ausgehängten Werkstatt-Regeln, die zur Verfügung stehenden Einrichtungen des MAKERHAFEN zu nutzen.</p>
                    <h2>2 Geltung der Vertragsbedingungen</h2>
                    <p>2.1 Sämtliche Angebote und Leistungen gegenüber dem Nutzer erfolgen ausschließlich aufgrund dieser allgemeinen Geschäftsbedingungen.</p>
                    <p>2.2 Es gelten ferner die Werkstatt-Regeln, die an der Theke vom MAKERHAFEN zur Einsicht und Mitnahme ausliegen.</p>
                    <p>2.3 Die Vertragsdauer endet mit Ablauf der jeweiligen täglichen Nutzung bzw. mit Ablauf der Abonutzungsdauer.</p>
                    <h2>3 Gebühren</h2>
                    <p>3.1 Der Rechnungsbetrag über den Aufenthalt in der Werkstatt, die Maschinennutzung, Materialkäufe, Entgelte für Mietboxen, Kurse, Einweisungen,
                       entgeltliche Veranstaltungen oder alle anderen Waren und Dienstleistungen ist sofort und vor dem Verlassen der Räumlichkeiten zu entrichten.
                       Käufliche Waren bleiben bis zur vollständigen Bezahlung Eigentum des Verkäufers. Aus den Forderungen des Mietverhältnisses oder dem Verkauf
                       von Waren und Dienstleistungen steht dem Vermieter ein Vermieterpfandrecht an den Mietgegenständen zu, die sich in den Vermietungsräumlichkeiten befinden.
                       Der Vermieter beruft sich ggf. auf §§ 562 ff. BGB und weitere Bestimmungen des BGB und kann das Pfandrecht sofort ausüben.</p>
                    <p>3.2 Für Leistungen, die nach einer gewissen Zeit oder in regelmäßigen Abständen erfolgen, ist der Vermieter im Falle jeder mangels Kontodeckung oder
                       unberechtigten Widerrufs nicht eingelösten oder zurückgereichten Abbuchung, berechtigt, die für die Bankrücklast und die Bearbeitung entstehenden Kosten,
                       mindestens aber eine Pauschale von 3,00 € je Fall, zu berechnen und diese mit der nächsten Lastschrift einzuziehen.</p>
                    <p>3.3 Die Voraussetzungen für gewährte Ermäßigungen (Kinder, Schüler, Auszubildende, Studenten, u.ä.) sind durch geeignete Unterlagen nachzuweisen.
                       Der Nutzer hat den Vermieter unverzüglich darüber zu informieren, wenn die Voraussetzungen für die gewährte Ermäßigung nicht mehr vorliegen.
                       Der Vermieter behält sich vor, in diesem Fall den Beitrag auf den entsprechend günstigsten Normaltarif zu erhöhen.
                       Der Nutzer hat ferner alle 12 Monate Nachweis zu erbringen, dass die weitere Gewährung der Ermäßigung gerechtfertigt ist. Erfolgt dies nicht,
                       wird eine vereinbarte Ermäßigung außer Kraft gesetzt und der monatliche Beitrag wiederum auf den entsprechend günstigsten Normaltarif erhöht.
                       Eine rückwirkende Ermäßigung bei verspäteter Vorlage des Nachweises erfolgt nicht.</p>

                </div>
            </div>
        </div>
        <div class="page" title="Page 2">
            <div class="layoutArea">
                <div class="column">
                    <p>3.4 Änderungen der Anschrift und Kontoänderungen sind dem Vermieter unverzüglich schriftlich mitzuteilen. Unterlässt oder verzögert der Nutzer die
                       Mitteilung, hat er die hieraus entstehenden Kosten zu tragen.</p>
                    <h2>4 Kündigung</h2>
                    <p>4.1 Verträge können von beiden Vertragsparteien mit einer Kündigungsfrist von 1 Monat zum Ende der Vertragsfestlaufzeit bzw.
                       bei unbestimmter Vertragslaufzeit von 1 Monat zum Monatsende gekündigt werden.</p>
                    <p>4.2 Das Recht zur außerordentlichen Kündigung aus wichtigem Grund bleibt hiervon unberührt. Insbesondere behält sich der Vermieter vor,
                       bei unzumutbarem Verhalten eines Nutzers oder bei erheblichen Verstößen gegen die AGB bzw. Werkstatt-Regeln dessen Abomitgliedschaft außerordentlich
                       fristlos zu kündigen. Die außerordentliche Kündigung durch den Vermieter entbindet den Abonutzer bis zum ersten ordentlichen Kündigungstermin nicht
                       von der Entrichtung des Nutzungsbeitrags.</p>
                    <p>4.3 Verlegt der Abonutzer seinen Wohnsitz an einen Ort, der mehr als 50 km vom Betriebssitz des MAKERHAFEN entfernt liegt, ist der Abonutzer berechtigt,
                       den Vertrag mit einer Frist von einem Monat zum Monatsende zu kündigen. Mit der Kündigung ist eine behördliche Ab- und Anmeldebestätigung vorzulegen.</p>
                    <p>4.4 Die Kündigung bedarf der Schriftform. Für die Einhaltung der Frist ist die fristgerechte Absendung per Post oder persönliche Abgabe des
                       Kündigungsschreibens im MAKERHAFEN maßgeblich.</p>
                    <h2>5 Öffnungszeiten / Schließungen</h2>
                    <p>5.1 Der Vermieter behält sich vor, in zumutbarer Weise und zumutbarem Umfang</p>
                    <ul>
                        <li>die Öffnungszeiten zu ändern,</li>
                        <li>kurzfristige Schließungen im Falle von Mangel an ehrenamtlicher Personalkapazität für den Thekenbetrieb</li>
                        <li>kurzfristige Schließungen im Falle technischer Revisionen oder Reparatur- und Wartungsarbeiten vorzunehmen, tageweise Teilbereiche oder den
                            Betrieb insgesamt anlässlich von speziellen Veranstaltungen nach vorheriger Ankündigung zu schließen.</li>
                    </ul>
                    <p style="text-align: left;">5.2 Ein Abonutzer hat diesbezüglich keinen Anspruch auf Minderung der Abobeiträge, da diese Einschränkungen bereits in der
                                                 Beitragskalkulation zugunsten des Nutzers berücksichtigt sind.</p>
                    <h2>6 Pflichten des Vermieters</h2>
                    <p>6.1 Der Vermieter stellt die in der Preisliste aufgeführten Werkzeuge gegen Entgelt zur Verfügung. Weiteres Werkzeug kann der Vermieter auf Anfrage
                       zur Verfügung stellen, ein Anspruch hierauf besteht nicht.</p>
                    <p>6.2 Alle Preise und Konditionen werden dem Nutzer transparent dargestellt und bei Bedarf erläutert.</p>
                    <h2>7 Pflichten des Mieters</h2>
                    <p>7.1 Den Anweisungen der Thekenhelden ist unbedingt und ohne Ausnahme Folge zu leisten.</p>
                    <p>7.2 <strong>Gefahrenübergang</strong> – Das Betreten der Mieträume (Werkstatt) geschieht auf eigene Gefahr, ganz gleich von wem und aus welchem
                       Grund die Mieträume betreten oder benutzt werden. Die Nutzung bestimmter ausgewiesener Werkzeuge und Maschinen bedarf separater Erlaubnis,
                       welche jeweils durch Unterweisung, Schulung oder Kenntnisnachweis durch den Vermieter erteilt wird. Auch nach erfolgter Einweisung verbleibt alle
                       Verantwortung für die sachgemäße und sichere Handhabung des jeweiligen Geräts beim Mieter.</p>
                    <p>7.3 <strong>Eignung</strong> – Wer nicht die nötigen körperlichen oder geistigen Fähigkeiten besitzt, bestimmte Tätigkeiten auszuführen
                       oder Einrichtungsgegenstände zu bedienen (bspw. durch Einfluss von Alkohol oder anderen Sucht- und Betäubungsmitteln) hat keinen Anspruch
                       auf die Nutzung und kann unter entsprechenden Umständen der Werkstatt verwiesen werden. Menschen mit eingeschränkten Fähigkeiten aufgrund von Alter,
                       Behinderung oder Krankheit müssen dies dem Vermieter bei Vertragsschluss offenlegen und dürfen entsprechende Maschinen nur unter Aufsicht bedienen.</p>
                </div>
            </div>
        </div>
        <div class="page" title="Page 3">
            <div class="layoutArea">
                <div class="column">
                    <p>7.4 <strong>Sauberkeit</strong> – Der Arbeitsplatz und die Werkzeuge sind in einwandfreiem Zustand und gereinigt nach Mietende an den Vermieter zu
                       übergeben. Muss vom Vermieter eine Reinigung oder Entsorgung vorgenommen werden, so werden diese Kosten dem Nutzer in Rechnung gestellt und sind vor
                       Verlassen der Mieträume sofort zu begleichen.</p>
                    <p>7.5 <strong>Haftpflichtversicherung</strong> – Der Nutzer muss über eine wirksam abgeschlossene Haftpflichtversicherung verfügen.
                       Diese ist dem Vermieter auf Verlangen nachzuweisen.</p>
                    <h2>8 Mietgegenstände</h2>
                    <p>8.1 Der Nutzer muss bei Entgegennahme von Werkzeugen oder Maschinen diese auf Beschädigung prüfen und eventuelle Beschädigungen oder Defekte
                       sofort dem Vermieter melden. Der Nutzer kommt für alle durch ihn entstandenen Schäden und Defekte an den Werkzeugen oder Maschinen des Vermieters
                       oder auch an seinen eigenen mitgebrachten und benutzten Werkzeugen und Materialien auf.</p>
                    <p>8.2 Der Nutzer trägt die Kosten für sämtliche durch ihn beschädigten Werkzeuge, Maschinen oder Einrichtungen (Wiederbeschaffungskosten).</p>
                    <p>8.3 Grundsätzlich ist mit dem Eigentum anderer, insbesondere des Vermieters, sorgfältig und pfleglich umzugehen.</p>
                    <p>8.4 Geliehene Werkzeuge und Maschinen sind ausschließlich im MAKERHAFEN zu benutzen, außer es wurde schriftlich anders vereinbart.
                       Jeder Diebstahl oder Versuch eines Diebstahls wird sofort zur Anzeige gebracht und mit unverzüglichem Hausverbot belegt.</p>
                    <p>8.5 Der Mieter hat keinen Anspruch darauf, dass alle Werkzeuge, Maschinen sowie Einrichtungen zu jeder Zeit nutzbar sind.
                       Dies ist beispielsweise bei einem Defekt, Reparaturvorgang oder Nutzung durch andere Mieter der Fall.</p>
                    <h2>9 Sicherheit</h2>
                    <p>9.1 <strong>Arbeitsschutz</strong> – Für ausreichenden Arbeitsschutz und Arbeitskleidung ist der Nutzer selbst verantwortlich.
                       Der Vermieter ist nicht verpflichtet, dies zu kontrollieren und kann bei Arbeitsunfällen nicht haftbar gemacht werden.</p>
                    <p>9.2 <strong>Nutzungssicherheit</strong> – Der Einsatz aller Werkzeuge und Maschinen ist nur zum bestimmungsmäßigen Gebrauch zulässig.
                       Bei Unklarheiten in Bezug auf die sichere und sachgemäße Nutzung von Maschinen, Werkzeugen und Einrichtungsgegenständen ist von der
                       Benutzung abzusehen oder müssen sich die entsprechenden Kenntnisse eigenverantwortlich angeeignet werden.</p>
                    <p>9.3 <strong>Brandschutz</strong> – Der Nutzer ist verpflichtet, sich nach den Vorgaben des gesetzlichen Brandschutzes und den gesetzlichen
                       Sicherheitsbestimmungen zu richten und seine Tätigkeit darauf einzustellen. Vorhandene Feuerlöscher sind gekennzeichnet und im Brandfall vom
                       Nutzer zu benutzen.</p>
                    <p>9.4 <strong>Gefahrstoffe</strong> – Austretende Gefahrstoffe und Flüssigkeiten sind unverzüglich wieder zu entfernen und in die vorgesehenen
                       Behälter auf Anweisung einzulagern. Für falsche und unsachgemäße Einlagerungen von Schadstoffen und Flüssigkeiten in die Behälter übernimmt der
                       Nutzer die Kosten einer fachgerechten Entsorgung.</p>
                    <h2>10 Persönliche Gegenstände</h2>
                    <p>10.1 Die Unterbringung persönlicher Gegenstände des Nutzers im MAKERHAFEN erfolgt auf eigenes Risiko und Verantwortung. Dies gilt auch für den
                       Verbleib von Gegenständen in den Mietboxen.</p>
                    <p>10.2 Der Einsatz selbst mitgebrachter Werkzeuge und Maschinen sind dem Vermieter anzuzeigen.</p>
                    <p>10.3 Mitgebrachte Werkstoffe, Abschnittreste und sonstiger Abfall sind vom Mieter vollständig mitzunehmen oder in einer entsprechenden angemieteten
                       Mietbox/Lagerfläche unterzubringen. Nach vorheriger Absprache können bestimmte Teile und Materialien (bspw. Holz und Metallreste) an den
                       dafür vorgesehenen Plätzen deponiert werden. Andere Mieter können diese dann gegen Spende oder Entgelt zur Weiterverarbeitung entnehmen.</p>
                </div>
            </div>
        </div>
        <div class="page" title="Page 4">
            <div class="layoutArea">
                <div class="column">
                    <h2>11 Beratung</h2>
                    <p>11.1 Der Vermieter kann nach seinem Dafürhalten oder auf Wunsch des Nutzers, fachliche und sachkundige Beratung vornehmen.
                       Einen Anspruch oder ein Recht darauf hat der Mieter jedoch nicht.</p>
                    <p>11.2 Eventuell mündliche oder auch tatkräftige Hilfestellungen durch den Vermieter oder dessen Beauftragten erfolgen nach bestem Wissen und
                       Gewissen jedoch unter Ausschluss jeglicher Haftung und Gewährleistung.</p>
                    <h2>12 Haftung</h2>
                    <p>12.1 Der Vermieter schließt jede Haftung für Personen- und Sachschäden aus, soweit nicht nachfolgend etwas anderes geregelt ist.
                       Von diesem Haftungsausschluss ausgenommen sind sowohl die Haftung für Schäden aus der Verletzung des Lebens, des Körpers oder der Gesundheit,
                       wenn diese Schäden auf einer fahrlässigen Pflichtverletzung seitens des Vermieters beruhen, als auch die Haftung für sonstige Schäden,
                       wenn diese auf einer vorsätzlichen oder grob fahrlässigen Pflichtverletzung oder der leicht fahrlässigen Verletzung wesentlicher
                       Vertragspflichten seitens des Vermieters beruhen. Wesentliche Vertragspflichten sind solche, deren Erfüllung zum Erreichen des Vertragszwecks
                       erforderlich sind und auf deren Einhaltung der Nutzer vertrauen darf.</p>
                    <p>12.2 Für mitgebrachte Gegenstände, insbesondere eigener Werkzeuge aber auch Wertgegenstände und Geld, wird keine Haftung übernommen.</p>

                    <h2>13 Daten des Nutzers</h2>
                    <p>13.1 Der Vermieter erhebt, speichert, verarbeitet und nutzt personenbezogene Daten, die er unmittelbar von Nutzern direkt oder über die Nutzung
                       seiner Einrichtungen wie auch seiner Internetseiten erhält.</p>
                    <p>13.2 Der Vermieter versichert, dass sämtliche Daten seiner Nutzer streng vertraulich behandelt werden und unter Beachtung der einschlägigen
                       Datenschutzvorschriften ausschließlich für</p>
                    <ul>
                        <li>die Verwaltung des Nutzungssvertrages,</li>
                        <li>die Abwicklung der Nutzungsbeiträge,</li>
                        <li>die Übermittlung von neuen Angeboten und aktuellen Informationen durch den MAKERHAFEN selbst verwendet werden.</li>
                    </ul>
                    <p>13.3 Der Nutzer ist berechtigt, Auskunft über die gespeicherten Daten und kostenfreie Korrektur oder Löschung nach Vertragsende zu verlangen.</p>
                    <p>13.4 Der Vermieter verarbeitet personenbezogene Daten, soweit dies für die Erbringung seiner Leistungen und/oder zum Betrieb der Werkstatt
                       erforderlich ist. Wir weisen darauf hin, dass im Falle der Nutzung der Leistungen auch Daten (Zeitpunkt, Art und Umfang der Nutzung) erhoben
                       und gespeichert werden. Zudem werden Daten über die Teilnahme an Einweisungen oder Kursen erhoben sowie bei Abgabe von Zeugnisunterlagen zur
                       Verifikation von Kenntnissen. Dies dient vor allem dem Nachweis des Vertragsschlusses sowie der Inanspruchnahme der Leistung.
                       Aus steuerlichen Gründen müssen diese Daten 10 Jahre gespeichert werden.</p>
                    <p>13.5 Eine Weitergabe der personenbezogenen Daten an Dritte findet grundsätzlich nicht statt, es sei denn, dass dies für die Erbringung der
                       Leistungen gegenüber dem Nutzer erforderlich ist. Dazu gehören bspw. buchhalterische und/oder steuerrechtliche Gründe (Steuerberater, Finanzamt).</p>
                    <p>13.6 Die Einwilligung zur Verwendung persönlicher Daten kann selbstverständlich jederzeit mit Wirkung für die Zukunft widerrufen werden.</p>
                    <p>13.7 Alle E-Mails, die direkt vom Vermieter oder einem der ehrenamtlichen Mitmacher über dessen MAKERHAFEN-Email an Nutzer etwa für
                       Terminabsprachen gesendet werden, werden über unseren Webhoster hetzner.de versandt. Das gilt auch für eingehende Mail mit direkten Anfragen
                       an bspw office@makerhafen.de</p>
                    <p>13.8 Newsletter werden ausschliesslich an interessierte Personen versandt, die sich mittels Double-Opt-In Verfahren auf unserer Website dazu
                       registriert haben.</p>
                </div>
            </div>
        </div>
        <div class="page" title="Page 5">
            <div class="layoutArea">
                <div class="column">
                    <h2>14 Schlussbestimmungen</h2>
                    <p>14.1 <strong>Nebenabreden</strong> – Mündliche Nebenabreden sind nicht getroffen. Änderungen und/oder Ergänzungen des Vertrages bedürfen der
                       Schriftform, dies gilt auch für Änderungen dieses Schriftformerfordernisses.</p>
                    <p>14.2 <strong>Salvatorische Klausel</strong> – Sollten Teile des Vertrages / der AGB, aktuell oder zukünftig, unwirksam sein oder werden,
                       berührt dies nicht die Wirksamkeit der übrigen Bestimmungen. Es gelten die gesetzlichen Bestimmungen.</p>
                    <p>14.3 <strong>Änderungen der AGB</strong> – Der MAKERHAFEN ist berechtigt, den Vertragsinhalt einseitig zu ändern oder zu ergänzen,
                       soweit dies aus rechtlichen Gründen erforderlich ist, oder die Änderungen oder Ergänzungen ausschließlich zu Gunsten des Nutzers sind.
                       In allen übrigen Fällen ist eine einseitige Änderung oder Ergänzung der Leistungen und des Vertrags und dieser allgemeinen Geschäftsbedingungen
                       nur zulässig, wenn diese für das Mitglied unter Berücksichtigung der Interessen des MAKERHAFEN zumutbar ist.
                       Der MAKERHAFEN wird Ihnen in diesen Fällen eine Änderung oder Ergänzung schriftlich oder per E-Mail wenigstens vier Wochen vor deren
                       Inkrafttreten mitteilen („Änderungsmitteilung“). Sie können einer solchen Änderung oder Ergänzung binnen einer Frist von vier Wochen ab Zugang der
                       Änderungsmitteilung schriftlich oder per E-Mail gegenüber der Makerhafen gGmbH, Stahltwiete 21, 22761 Hamburg,
                       an office@makerhafen.de zu widersprechen. Im Falle eines unterlassenen Widerspruchs werden die Änderungen oder Ergänzungen wirksam.
                       Auf die Rechtsfolgen eines unterlassenen Widerspruchs wird der MAKERHAFEN Sie in der Änderungsmitteilung besonders hinweisen.</p>
                    <p>14.4 <strong>Gerichtsstand</strong> – Sofern der Mieter kein Verbraucher ist, gilt als ausschließlicher Gerichtsstand für alle Streitigkeiten
                       aus und im Zusammenhang mit diesem Vertrag Hamburg als vereinbart.</p>
                    <p>*Es sind stets Personen männlichen und weiblichen Geschlechts gleichermaßen gemeint; aus Gründen der einfacheren
                       Lesbarkeit wird im Folgenden nur die männliche Form verwendet.</p>
                    <p>13.9 Weitere Informationen zum Datenschutz i.S.d. Art. 13 DSGVO können unseren Datenschutzhinweisen entnommen werden.
                       Diese findet man auf unserer Website unter https://makerhafen.de/impressum/</p>

                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>

{% endblock %}