{% extends "webif/base.html" %}

{% block content %}

<style>
    @media screen {
      div.footer {
        display: none;
      }
    }
    @media print {
      div.footer {
        position: fixed;
        bottom: 0;
      }
    }
</style>

    <div class="footer" style="text-align:center;width:100%;color:red;border-top:1px solid gray;">
        <div style="width:22%;float:left">
            Makerhafen gGmbH <br>
            Stahltwiete 21   <br>
            22761 Hamburg
        </div>
        <div style="width:22%;float:left">
            +49 40 53050911         <br>
            office@makerhafen.de    <br>
            https://makerhafen.de
        </div>
        <div style="width:33%;float:left">
            BIC:   DEUTDEDBHAM  <br>
            IBAN:  DE06200700240914441100   <br>
            UstID: DE337879639 <br>
            SteuerNr: 17/451/10661
        </div>
        <div style="width:22%;float:left" >
            Sitz: Hamburg      <br>
            Gf: Susanne Theelen <br>
            Amtsgericht Hamburg <br>
            HRB 164690
        </div>
    </div>

    <nav aria-label="breadcrumb" class="main-breadcrumb hidden-print">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/webif">Makerhafen</a></li>
            <li class="breadcrumb-item active" aria-current="page">Support</li>
        </ol>
    </nav>

    <div class="row ">
        <div class="col-xs-8">
            <div class="row ">
                <div class="col-xs-3">
                    <img src="https://raw.githubusercontent.com/makerhafen/Logos/master/makerhafen%20logo%201100x1100.png" style="width: 100%; max-width: 100%" />
                </div>
                <div class="col-xs-8">
                    <h1 style="font-size: 3em;font-weight: bold;">
                        Makerhafen&nbspunterstützen
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <table class="table">
                <tbody>
                <tr>
                    <td style="border-top:0px">Name, Vorname</td>
                    <td style="border-top:0px"> </td>
                </tr>
                <tr>
                    <td>Strasse</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Plz, Stadt</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Paypal</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12  ">
            Ich möchte die gemeinnützige Arbeit des Makerhafen unterstützen und/oder die Werkstatt regelmässig nutzen.
            Ich habe die allgemeinen Geschäftsbedingungen der Makerhafen gGmbH zur Kenntnis genommen und verstehe,
            dass ich alle zur Verfügung gestellten Werkzeuge und Anlagen auf eigene Gefahr nutze.
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12  ">
           <input type="checkbox"/>
            Standard&nbsp;&nbsp;&nbsp;32 € / Monat
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12  ">
           <input type="checkbox"/>
            Sozialbeitrag ab 1€/Monat&nbsp;&nbsp;&nbsp;_______ € / Monat<br>
            &nbsp;&nbsp;&nbsp;&nbsp;für Schüler, Studenten und andere
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-xs-12  ">
           <input type="checkbox"/>
            Supporter&nbsp;&nbsp;&nbsp;_______ € / Monat
        </div>
    </div>

    <br>


    <div class="row">
        <div class="col-xs-3">
            <h4>
                <img style="width:100px;"src="/static/img/PayPal.svg">
            </h4>
        </div>
        <div class="col-xs-6">
            <img style="width:100%" src="/static/img/paypal_donate_monthly.png">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" style="text-align:center">
            <p>paypal.com/donate/?hosted_button_id=EXZXJWBPD2EE8<br>
            Link öffnen, Betrag eingeben, "Monatlich" auswählen.</p>
        </div>
    </div>

    <br>
    <br>

    <div class="row">
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-10" style="border-top: 1px solid gray">
                    Ort, Datum
                </div>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-10" style="border-top: 1px solid gray">
                    Unterschrift
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>


{% endblock %}