{% extends "webif/base.html" %}

{% block content %}
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/webif">Makerhafen</a></li>
            <li class="breadcrumb-item"><a href="/webif">Dashboard</a></li>
        </ol>
    </nav>
    <!-- /Breadcrumb -->

    <div class="row">
        <div class="col-md-12">
            <h3>Anwesende Benutzer</h3>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Benutzer</th>
                    <th scope="col">Ankunft</th>
                    <th scope="col">Guthaben</th>
                    <th scope="col">Bild</th>
                    <th scope="col">Aktion</th>
                </tr>
            </thead>
            <tbody>
                {% for spaceAccessTracking_active in spaceAccessTrackings_active %}
                <tr>
                    <td><a href="/webif/user/show/{{spaceAccessTracking_active.user.profile.id}}"> {{ spaceAccessTracking_active.user }}</a></td>
                    <td>{{ spaceAccessTracking_active.start }}</td>
                    <td>{{ spaceAccessTracking_active.user.profile.prepaid_deposit }}</td>
                    <td>
                        {{ machineSession.user.profile }}
                        {% if machineSession.user.profile.profile_picture %}<img style="width:50px" src = "{{ machineSession.user.profile.profile_picture.url }}"/>{% endif %}
                    </td>
                    <td>
                        {% if spaceAccessTracking_active.end == None%}
                             <a href="/webif/spaceaccesstracking/end/{{spaceAccessTracking_active.id}}">
                                Abmelden
                            </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Kürzlich abgemeldete Benutzer</h3>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Benutzer</th>
                    <th scope="col">Ankunft</th>
                    <th scope="col">Abgemeldet</th>
                    <th scope="col">Guthaben</th>
                    <th scope="col">Bild</th>
                </tr>
            </thead>
            <tbody>
                {% for spaceAccessTracking_ended in spaceAccessTrackings_ended %}
                <tr>
                    <td><a href="/webif/user/show/{{spaceAccessTracking_ended.user.profile.id}}"> {{ spaceAccessTracking_ended.user }}</a></td>
                    <td>{{ spaceAccessTracking_ended.start }}</td>
                    <td>{{ spaceAccessTracking_ended.end }}</td>
                    <td>{{ spaceAccessTracking_ended.user.profile.prepaid_deposit }}</td>
                    <td>
                        {{ machineSession.user.profile }}
                        {% if machineSession.user.profile.profile_picture %}<img style="width:50px" src = "{{ machineSession.user.profile.profile_picture.url }}"/>{% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>



    <div class="row">
        <div class="col-md-12">
            <h3>Aktive Maschinensitzungen</h3>
        </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Maschine</th>
                        <th scope="col">Startzeit</th>
                        <th scope="col">Benutzer</th>
                        <th scope="col">Tutor</th>
                        <th scope="col">Jemand anderes zahlt</th>
                        <th scope="col">Sauerkeit</th>
                        <th scope="col">Automatisch abmelden</th>
                        <th scope="col">Aktion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for machineSession in machineSessions_active %}
                    <tr>
                        <td>{{ machineSession.machine }}</td>
                        <td>{{ machineSession.start }}</td>
                        <td>
                            <a href="/webif/user/show/{{machineSession.user.profile.id}}">{{ machineSession.user.profile }}</a>
                            {% if machineSession.user.profile.profile_picture %}<img style="width:50px" src = "{{ machineSession.user.profile.profile_picture.url }}"/>{% endif %}
                        </td>
                        <td>
                            {% if machineSession.tutor %}
                                <a href="/webif/user/show/{{machineSession.tutor.profile.id}}">{{ machineSession.tutor }}</a>
                                {% if machineSession.tutor.profile.profile_picture %}<img style="width:50px" src = "{{ machineSession.tutor.profile.profile_picture.url }}"/>{% endif %}
                            {% endif %}

                        </td>
                        <td>
                            {% if machineSession.paymentsession.user != machineSession.user %}
                                {{ machineSession.paymentsession.user.profile }}
                                {% if machineSession.paymentsession.user.profile.profile_picture %}<img style="width:50px" src = "{{ machineSession.paymentsession.user.profile.profile_picture.url }}"/>{% endif %}
                            {% endif %}
                        </td>
                        <td>{{ machineSession.rating_clean }}</td>
                        <td>{{ machineSession.autologout_at }}</td>
                        <td>
                            {% if machineSession.current_session %}
                                 <a href="/webif/session/end/{{machineSession.id}}">
                                   Sitzung beenden
                                </a>
                            {% endif %}

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Kürzliche beendet Maschinensitzungen</h3>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Maschine</th>
                    <th scope="col">Startzeit</th>
                    <th scope="col">Endzeit</th>
                    <th scope="col">Benutzer</th>
                    <th scope="col">Tutor</th>
                    <th scope="col">Jemand anderes zahlt</th>
                    <th scope="col">Sauberkeit</th>
                </tr>
            </thead>
            <tbody>
                {% for machineSession in machineSessions_ended %}
                <tr>
                    <td>{{ machineSession.machine }}</td>
                    <td>{{ machineSession.start }}</td>
                    <td>{{ machineSession.end }}</td>
                    <td>
                        <a href="/webif/user/show/{{machineSession.user.profile.id}}">{{ machineSession.user.profile }}</a>
                        {% if machineSession.user.profile.profile_picture %}<img style="width:50px" src = "{{ machineSession.user.profile.profile_picture.url }}"/>{% endif %}
                    </td>
                    <td>
                         {% if machineSession.tutor %}
                            <a href="/webif/user/show/{{machineSession.tutor.profile.id}}">{{ machineSession.tutor }}</a>
                            {% if machineSession.tutor.profile.profile_picture %}<img style="width:50px" src = "{{ machineSession.tutor.profile.profile_picture.url }}"/>{% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if machineSession.paymentsession.user != machineSession.user %}
                            {{ machineSession.paymentsession.user.profile }}
                            {% if machineSession.paymentsession.user.profile.profile_picture %}<img style="width:50px" src = "{{ machineSession.paymentsession.user.profile.profile_picture.url }}"/>{% endif %}
                        {% endif %}
                    </td>
                    <td>{{ machineSession.rating_clean }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>




{% endblock %}